# See https://help.github.com/articles/ignoring-files/

# testing
/coverage

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/logs
/server.env
/client.env
/ormconfig.json

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

